  <div class="jumbotron center">
    <div class="container-fluid">
    <h1>Welcome to Alphablog</h1>
    <p>The place where the world meets</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a></p>
  </div>
</div>
