  <div class="jumbotron center">
    <div class="container-fluid">
    <h1>Welcome to Alphablog</h1>
    <p>The place where the world meets</p>
    <p><%= link_to "Sign up", signup_path, class:"btn btn-primary btn-lg" %></p>
  </div>
</div>
