@import "bootstrap-sprockets";
@import "bootstrap";

/* GENERAL */
.center {
  text-align: center;
}

body {
  margin-top: 70px;
}
/* NAVBAR */

/* JUMBOTRON */
.jumbotron {
  background-image: url('bg.png');
  background-size: cover;
  height: 750px;
  padding-top: 200px;
  margin-top: -50px;
}

/* SHOW PAGE */
.article-actions {
  border-top: 1px solid #EAEAEA;
  padding-top: 10px;
}
