@import "bootstrap-sprockets";
@import "bootstrap";

/* GENERAL */
.center {
  text-align: center;
}

body {
  margin-top: 70px;
}
/* NAVBAR */

/* JUMBOTRON */
.jumbotron {
  background-image: url('bg.png');
  background-size: cover;
  height: 750px;
  padding-top: 200px;
}
